/*header style*/
header {
   background-color: #feffe4;
   text-align: center;
   padding-top: 50px;
   padding-bottom: 50px;
}

body {
   margin: 0px;
}

/* The Text container */
.row {
  display: flex;
  background-color: White;
}

.row > div {
  background-color: #feffe4;
  margin: 10px;
  padding: 20px;
}

 /* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #feffe4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #faff8d;
  color: black;
} 

/*font*/
*{
   font-family: Arial, Helvetica, sans-serif;
}

/*profile image and heading style*/
p {
   margin-left: 20px;
}
h1 {
   text-align: center,
   font-size: 22px;
}
h2 {
   margin-left: 20px;
}
h3 {
   margin-left: 20px;
}
h4 {
   margin-left: 20px;
}
h5 {
   margin-left: 20px;
}
